<div class="container">
  <div id="average" class="bg-scroll">
    <div class="row">
      <div class="col-sm-12">
	<div class="average-result">
	  <h2>Á heildina litið metur þú þín lífsgæði líkt og íbúar <span class="country-appendix">á Íslandi</span></h2>
	</div>
	<div class="average-analysis">
	  <p><strong>Ísland</strong> er stórasta land í heimi.</p>
	  <p>Í þessum flokki er <strong>Ísland</strong> betra en meðaltal Evrópusambandsins.</p>
	</div>
      </div>
    </div>
  </div>
  <hr/>
</div>
