@import url('https://fonts.googleapis.com/css?family=Montserrat');

@light-gray: #fdfdfd;
@dark-gray: #222222;

@safety: #ca221d;
@government: #c22769;
@environment: #3F93E1;
@finance: #481B79;
@housing: #6AAC32;
@job: #42928F;
@time: #D32645;
@health: #CD531C;
@social: #EDC92D;
@life: #A5B425;

html, body, main {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-bottom: 50px;
}

.bg-fixed {
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-fixed {
    min-height: 100%;
}

.svg-bg-fill(@src, @fill-default, @fill-new) {
    @escape-fill-default: escape(@fill-default);
    @escape-fill-new: escape(@fill-new);
    @data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
    @replace-src: replace("@{data-uri}", "@{escape-fill-default}", "@{escape-fill-new}");
    background-image:e(@replace-src);
}

.category {
    display: inline-block;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &[data-category="safety"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{safety}");
    }
    &[data-category="government"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{government}");
    }
    &[data-category="environment"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{environment}");
     }
    &[data-category="finance"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{finance}");
     }
    &[data-category="housing"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{housing}");
     }
    &[data-category="job"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{job}");
     }
    &[data-category="time"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{time}");
     }
    &[data-category="health"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{health}");
     }
    &[data-category="social"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{social}");
     }
    &[data-category="life"] {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{life}");
    }

    h3 {
        margin: 0px;
	padding: 0px;
        line-height: 144px;
        font-size: 22px;
	color: #ffffff;
    }
}

.question {
    height: 144px;
    
    >.text {
        font-size: 28px;
    }
}

.answer {
    .noUi-value {
        padding-top: 2px;
    }
    .noUi-connect {
        background: none;
	box-shadow: none;
    }
    .noUi-handle {
        box-shadow: none;
    }

    &[data-category="safety"] {
        .noUi-handle {
            background: @safety;
        }
     }
    &[data-category="government"] {
        .noUi-handle {
            background: @government;
        }
     }
    &[data-category="environment"] {
        .noUi-handle {
            background: @environment;
        }
     }
    &[data-category="finance"] {
        .noUi-handle {
            background: @finance;
        }
     }
    &[data-category="housing"] {
        .noUi-handle {
            background: @housing;
        }
     }
    &[data-category="job"] {
        .noUi-handle {
            background: @job;
        }
     }
    &[data-category="time"] {
        .noUi-handle {
            background: @time;
        }
     }
    &[data-category="health"] {
        .noUi-handle {
            background: @health;
        }
     }
    &[data-category="social"] {
        .noUi-handle {
            background: @social;
        }
     }
    &[data-category="life"] {
        .noUi-handle {
            background: @life;
        }
    }
}

#welcome {
    position: relative;
    background: url('../img/europe_2560x1440.jpg');
    color: @light-gray;
    
    .title {
        position: absolute;
	top: 32%;
	width: 100%;
    	text-align: center;

	h1 {
	    text-transform: uppercase;
	    text-shadow: 2px 2px lighten(@dark-gray, 10%);
    	    font-weight: bold;
    	    font-size: 82px;
        }

	p {
	    font-size: 22px;
   	    text-shadow: 1px 1px lighten(@dark-gray, 10%);
	    color: @light-gray;
	}
   }
}

#questions, #categories {
    background: #fff;

    h2 {
        margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
    }
}

#categories {
    display: none;

    .category-result .category-viz {
        .min, .max {
	    fill: #ababab;
	}

	.iceland {
	    fill: @dark-gray;
	}
    }

    .category-result[data-category="safety"] {
        .category-viz {
            .you {
                fill: @safety;
	    }

            .closest {
	        fill: darken(@safety, 10%);
	    }
	}
    }

    .category-result[data-category="government"] {
        .category-viz {
            .you {
                fill: @government;
	    }

            .closest {
	        fill: darken(@government, 10%);
	    }
	}
    }

    .category-result[data-category="environment"] {
        .category-viz {
            .you {
                fill: @environment;
	    }

            .closest {
	        fill: darken(@environment, 10%);
	    }
	}
    }

    .category-result[data-category="finance"] {
        .category-viz {
            .you {
                fill: @finance;
	    }

            .closest {
	        fill: darken(@finance, 10%);
	    }
	}
    }

    .category-result[data-category="housing"] {
        .category-viz {
            .you {
                fill: @housing;
	    }

            .closest {
	        fill: darken(@housing, 10%);
	    }
	}
    }

    .category-result[data-category="job"] {
        .category-viz {
            .you {
                fill: @job;
	    }

            .closest {
	        fill: darken(@job, 10%);
	    }
	}
    }

    .category-result[data-category="time"] {
        .category-viz {
            .you {
                fill: @time;
	    }

            .closest {
	        fill: darken(@time, 10%);
	    }
	}
    }

    .category-result[data-category="health"] {
        .category-viz {
            .you {
                fill: @health;
	    }

            .closest {
	        fill: darken(@health, 10%);
	    }
	}
    }
    .category-result[data-category="social"] {
        .category-viz {
            .you {
                fill: @social;
	    }

            .closest {
	        fill: darken(@social, 10%);
	    }
	}
    }
    .category-result[data-category="life"] {
        .category-viz {
            .you {
                fill: @life;
	    }

            .closest {
	        fill: darken(@life, 10%);
	    }
	}
    }

    .category-result > h3:before {
        display: inline-block;
	content: "";
	width: 30px;
	height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .category-result[data-category="safety"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{safety}");
    }
    .category-result[data-category="government"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{government}");
    }
    .category-result[data-category="environment"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{environment}");
     }
    .category-result[data-category="finance"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{finance}");
     }
    .category-result[data-category="housing"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{housing}");
     }
    .category-result[data-category="job"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{job}");
     }
    .category-result[data-category="time"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{time}");
     }
    .category-result[data-category="health"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{health}");
     }
     .category-result[data-category="social"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{social}");
     }
    .category-result[data-category="life"] h3:before {
        .svg-bg-fill("../img/badge.svg", "#000000", "@{life}");
    }
}