@import url('https://fonts.googleapis.com/css?family=Montserrat');

@light-gray: #fdfdfd;
@dark-gray: #222222;

@safety: #ca221d;
@government: #c22769;
@environment: #3F93E1;
@finance: #481B79;
@housing: #6AAC32;
@job: #42928F;
@time: #D32645;
@health: #CD531C;
@social: #EDC92D;
@life: #A5B425;

@categories: safety, government, environment, finance, housing, job, time, health, social, life;

line {
    .-(@i: length(@categories)) when (@i > 0) {
        @name: extract(@categories, @i);
        &.@{name} { stroke: @@name; }
        .-((@i - 1));
    }
    .-;
}

rect, text {
    .-(@i: length(@categories)) when (@i > 0) {
        @name: extract(@categories, @i);
        &.@{name} { fill: @@name; }
        .-((@i - 1));
    }
    .-;
}

html, body, main {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-bottom: 50px;
}

.bg-fixed {
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-fixed {
    min-height: 100%;
}

.svg-bg-fill(@src, @fill-default, @fill-new) {
    @escape-fill-default: escape(@fill-default);
    @escape-fill-new: escape(@fill-new);
    @data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
    @replace-src: replace("@{data-uri}", "@{escape-fill-default}", "@{escape-fill-new}");
    background-image:e(@replace-src);
}

.category {
    display: inline-block;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .-(@i: length(@categories)) when (@i > 0) {
        @name: extract(@categories, @i);
        &[data-category="@{name}"] {
            .svg-bg-fill("../img/badge.svg", "#000000", @@name);
	}
        .-((@i - 1));
    }
    .-;

    h3 {
        margin: 0px;
	padding: 0px;
        line-height: 144px;
        font-size: 22px;
	color: #ffffff;
    }
}

.question {
    height: 144px;
    
    >.text {
        font-size: 28px;
    }
}

.answer {
    .noUi-value {
        padding-top: 2px;
    }
    .noUi-connect {
        background: none;
	box-shadow: none;
    }
    .noUi-handle {
        box-shadow: none;
    }

    .-(@i: length(@categories)) when (@i > 0) {
        @name: extract(@categories, @i);
        &[data-category="@{name}"] {
       	    .noUi-handle { background: @@name; }
        }
        .-((@i - 1));
    }
    .-;

}

#welcome {
    position: relative;
    background: url('../img/europe_2560x1440.jpg');
    color: @light-gray;

    .esd {
        position: absolute;
	top: 10px;
	left: 10px;
        display: inline-block;
        width: 200px;
	height: 152px;
	background: url('../img/ESD_logo_sml_transp_is.png');
	color: transparent;
    }

    .hagstofa {
        position: absolute;
	top: 10px;
	right: 10px;
        display: inline-block;
        width: 200px;
	height: 77px;
	background: url('../img/hagstofa.png');
	color: transparent;
    }

    .title {
        position: absolute;
	top: 32%;
	width: 100%;
    	text-align: center;

	h1 {
	    text-transform: uppercase;
	    text-shadow: 2px 2px lighten(@dark-gray, 10%);
    	    font-weight: bold;
    	    font-size: 82px;
        }

	p {
	    font-size: 22px;
   	    text-shadow: 1px 1px lighten(@dark-gray, 10%);
	    color: @light-gray;
	}
   }
}

#questions, #categories, #average {
    background: #fff;

    h2 {
        margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
    }
}

#categories, #average {
    display: none;

    .category-result {
        &> p {
	  font-size: 122%;
	}

        .category-viz {
	    line { stroke-width: 2; }
            line.min, line.max { stroke: #ababab; }
            text.min, text.max { fill: #ababab; }
	    line.iceland { stroke: @dark-gray; }
	    text.iceland { fill: @dark-gray; }
        }

        .-(@i: length(@categories)) when (@i > 0) {
            @name: extract(@categories, @i);
            &[data-category="@{name}"] {
	        h3:before {
                    .svg-bg-fill("../img/badge.svg", "#000000", @@name);
		}

                .category-viz {
		    line.you {
		        stroke: @@name;
			stroke-width: 4; }
		    text.you { fill: @@name; }
		    line.closest {
		        stroke: @@name;
			opacity: 0.5;
                    }
		    text.closest {
		        fill: @@name;
			opacity: 0.5;
                    }
		}
            }
            .-((@i - 1));
        }
        .-;

        &> h3:before {
            display: inline-block;
            content: "";
            width: 30px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
}

#social {
    min-height: 20px;
}