@import url('https://fonts.googleapis.com/css?family=Montserrat');
line.life {
  stroke: #A5B425;
}
line.social {
  stroke: #EDC92D;
}
line.health {
  stroke: #CD531C;
}
line.time {
  stroke: #D32645;
}
line.job {
  stroke: #42928F;
}
line.housing {
  stroke: #6AAC32;
}
line.finance {
  stroke: #481B79;
}
line.environment {
  stroke: #3F93E1;
}
line.government {
  stroke: #c22769;
}
line.safety {
  stroke: #ca221d;
}
rect.life,
text.life {
  fill: #A5B425;
}
rect.social,
text.social {
  fill: #EDC92D;
}
rect.health,
text.health {
  fill: #CD531C;
}
rect.time,
text.time {
  fill: #D32645;
}
rect.job,
text.job {
  fill: #42928F;
}
rect.housing,
text.housing {
  fill: #6AAC32;
}
rect.finance,
text.finance {
  fill: #481B79;
}
rect.environment,
text.environment {
  fill: #3F93E1;
}
rect.government,
text.government {
  fill: #c22769;
}
rect.safety,
text.safety {
  fill: #ca221d;
}
html,
body,
main {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.btn {
  margin-bottom: 50px;
}
.bg-fixed {
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-fixed {
  min-height: 100%;
}
.category {
  display: inline-block;
  height: 144px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.category[data-category="life"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23A5B425%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="social"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23EDC92D%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="health"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23CD531C%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="time"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23D32645%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="job"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%2342928F%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="housing"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%236AAC32%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="finance"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23481B79%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="environment"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%233F93E1%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="government"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23c22769%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category[data-category="safety"] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23ca221d%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
.category h3 {
  margin: 0px;
  padding: 0px;
  line-height: 144px;
  font-size: 22px;
  color: #ffffff;
}
.question {
  height: 144px;
}
.question > .text {
  font-size: 28px;
}
.answer .noUi-value {
  padding-top: 2px;
}
.answer .noUi-connect {
  background: none;
  box-shadow: none;
}
.answer .noUi-handle {
  box-shadow: none;
}
.answer[data-category="life"] .noUi-handle {
  background: #A5B425;
}
.answer[data-category="social"] .noUi-handle {
  background: #EDC92D;
}
.answer[data-category="health"] .noUi-handle {
  background: #CD531C;
}
.answer[data-category="time"] .noUi-handle {
  background: #D32645;
}
.answer[data-category="job"] .noUi-handle {
  background: #42928F;
}
.answer[data-category="housing"] .noUi-handle {
  background: #6AAC32;
}
.answer[data-category="finance"] .noUi-handle {
  background: #481B79;
}
.answer[data-category="environment"] .noUi-handle {
  background: #3F93E1;
}
.answer[data-category="government"] .noUi-handle {
  background: #c22769;
}
.answer[data-category="safety"] .noUi-handle {
  background: #ca221d;
}
#welcome {
  position: relative;
  background: url('../img/europe_2560x1440.jpg');
  color: #fdfdfd;
}
#welcome .title {
  position: absolute;
  top: 32%;
  width: 100%;
  text-align: center;
}
#welcome .title h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px #3c3c3c;
  font-weight: bold;
  font-size: 82px;
}
#welcome .title p {
  font-size: 22px;
  text-shadow: 1px 1px #3c3c3c;
  color: #fdfdfd;
}
#questions,
#categories,
#average {
  background: #fff;
}
#questions h2,
#categories h2,
#average h2 {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#categories,
#average {
  display: none;
}
#categories .category-result .category-viz line,
#average .category-result .category-viz line {
  stroke-width: 2;
}
#categories .category-result .category-viz line.min,
#average .category-result .category-viz line.min,
#categories .category-result .category-viz line.max,
#average .category-result .category-viz line.max {
  stroke: #ababab;
}
#categories .category-result .category-viz text.min,
#average .category-result .category-viz text.min,
#categories .category-result .category-viz text.max,
#average .category-result .category-viz text.max {
  fill: #ababab;
}
#categories .category-result .category-viz line.iceland,
#average .category-result .category-viz line.iceland {
  stroke: #222222;
}
#categories .category-result .category-viz text.iceland,
#average .category-result .category-viz text.iceland {
  fill: #222222;
}
#categories .category-result[data-category="life"] h3:before,
#average .category-result[data-category="life"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23A5B425%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="life"] .category-viz line.you,
#average .category-result[data-category="life"] .category-viz line.you {
  stroke: #A5B425;
  stroke-width: 4;
}
#categories .category-result[data-category="life"] .category-viz text.you,
#average .category-result[data-category="life"] .category-viz text.you {
  fill: #A5B425;
}
#categories .category-result[data-category="life"] .category-viz line.closest,
#average .category-result[data-category="life"] .category-viz line.closest {
  stroke: #A5B425;
  opacity: 0.5;
}
#categories .category-result[data-category="life"] .category-viz text.closest,
#average .category-result[data-category="life"] .category-viz text.closest {
  fill: #A5B425;
  opacity: 0.5;
}
#categories .category-result[data-category="social"] h3:before,
#average .category-result[data-category="social"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23EDC92D%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="social"] .category-viz line.you,
#average .category-result[data-category="social"] .category-viz line.you {
  stroke: #EDC92D;
  stroke-width: 4;
}
#categories .category-result[data-category="social"] .category-viz text.you,
#average .category-result[data-category="social"] .category-viz text.you {
  fill: #EDC92D;
}
#categories .category-result[data-category="social"] .category-viz line.closest,
#average .category-result[data-category="social"] .category-viz line.closest {
  stroke: #EDC92D;
  opacity: 0.5;
}
#categories .category-result[data-category="social"] .category-viz text.closest,
#average .category-result[data-category="social"] .category-viz text.closest {
  fill: #EDC92D;
  opacity: 0.5;
}
#categories .category-result[data-category="health"] h3:before,
#average .category-result[data-category="health"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23CD531C%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="health"] .category-viz line.you,
#average .category-result[data-category="health"] .category-viz line.you {
  stroke: #CD531C;
  stroke-width: 4;
}
#categories .category-result[data-category="health"] .category-viz text.you,
#average .category-result[data-category="health"] .category-viz text.you {
  fill: #CD531C;
}
#categories .category-result[data-category="health"] .category-viz line.closest,
#average .category-result[data-category="health"] .category-viz line.closest {
  stroke: #CD531C;
  opacity: 0.5;
}
#categories .category-result[data-category="health"] .category-viz text.closest,
#average .category-result[data-category="health"] .category-viz text.closest {
  fill: #CD531C;
  opacity: 0.5;
}
#categories .category-result[data-category="time"] h3:before,
#average .category-result[data-category="time"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23D32645%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="time"] .category-viz line.you,
#average .category-result[data-category="time"] .category-viz line.you {
  stroke: #D32645;
  stroke-width: 4;
}
#categories .category-result[data-category="time"] .category-viz text.you,
#average .category-result[data-category="time"] .category-viz text.you {
  fill: #D32645;
}
#categories .category-result[data-category="time"] .category-viz line.closest,
#average .category-result[data-category="time"] .category-viz line.closest {
  stroke: #D32645;
  opacity: 0.5;
}
#categories .category-result[data-category="time"] .category-viz text.closest,
#average .category-result[data-category="time"] .category-viz text.closest {
  fill: #D32645;
  opacity: 0.5;
}
#categories .category-result[data-category="job"] h3:before,
#average .category-result[data-category="job"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%2342928F%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="job"] .category-viz line.you,
#average .category-result[data-category="job"] .category-viz line.you {
  stroke: #42928F;
  stroke-width: 4;
}
#categories .category-result[data-category="job"] .category-viz text.you,
#average .category-result[data-category="job"] .category-viz text.you {
  fill: #42928F;
}
#categories .category-result[data-category="job"] .category-viz line.closest,
#average .category-result[data-category="job"] .category-viz line.closest {
  stroke: #42928F;
  opacity: 0.5;
}
#categories .category-result[data-category="job"] .category-viz text.closest,
#average .category-result[data-category="job"] .category-viz text.closest {
  fill: #42928F;
  opacity: 0.5;
}
#categories .category-result[data-category="housing"] h3:before,
#average .category-result[data-category="housing"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%236AAC32%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="housing"] .category-viz line.you,
#average .category-result[data-category="housing"] .category-viz line.you {
  stroke: #6AAC32;
  stroke-width: 4;
}
#categories .category-result[data-category="housing"] .category-viz text.you,
#average .category-result[data-category="housing"] .category-viz text.you {
  fill: #6AAC32;
}
#categories .category-result[data-category="housing"] .category-viz line.closest,
#average .category-result[data-category="housing"] .category-viz line.closest {
  stroke: #6AAC32;
  opacity: 0.5;
}
#categories .category-result[data-category="housing"] .category-viz text.closest,
#average .category-result[data-category="housing"] .category-viz text.closest {
  fill: #6AAC32;
  opacity: 0.5;
}
#categories .category-result[data-category="finance"] h3:before,
#average .category-result[data-category="finance"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23481B79%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="finance"] .category-viz line.you,
#average .category-result[data-category="finance"] .category-viz line.you {
  stroke: #481B79;
  stroke-width: 4;
}
#categories .category-result[data-category="finance"] .category-viz text.you,
#average .category-result[data-category="finance"] .category-viz text.you {
  fill: #481B79;
}
#categories .category-result[data-category="finance"] .category-viz line.closest,
#average .category-result[data-category="finance"] .category-viz line.closest {
  stroke: #481B79;
  opacity: 0.5;
}
#categories .category-result[data-category="finance"] .category-viz text.closest,
#average .category-result[data-category="finance"] .category-viz text.closest {
  fill: #481B79;
  opacity: 0.5;
}
#categories .category-result[data-category="environment"] h3:before,
#average .category-result[data-category="environment"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%233F93E1%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="environment"] .category-viz line.you,
#average .category-result[data-category="environment"] .category-viz line.you {
  stroke: #3F93E1;
  stroke-width: 4;
}
#categories .category-result[data-category="environment"] .category-viz text.you,
#average .category-result[data-category="environment"] .category-viz text.you {
  fill: #3F93E1;
}
#categories .category-result[data-category="environment"] .category-viz line.closest,
#average .category-result[data-category="environment"] .category-viz line.closest {
  stroke: #3F93E1;
  opacity: 0.5;
}
#categories .category-result[data-category="environment"] .category-viz text.closest,
#average .category-result[data-category="environment"] .category-viz text.closest {
  fill: #3F93E1;
  opacity: 0.5;
}
#categories .category-result[data-category="government"] h3:before,
#average .category-result[data-category="government"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23c22769%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="government"] .category-viz line.you,
#average .category-result[data-category="government"] .category-viz line.you {
  stroke: #c22769;
  stroke-width: 4;
}
#categories .category-result[data-category="government"] .category-viz text.you,
#average .category-result[data-category="government"] .category-viz text.you {
  fill: #c22769;
}
#categories .category-result[data-category="government"] .category-viz line.closest,
#average .category-result[data-category="government"] .category-viz line.closest {
  stroke: #c22769;
  opacity: 0.5;
}
#categories .category-result[data-category="government"] .category-viz text.closest,
#average .category-result[data-category="government"] .category-viz text.closest {
  fill: #c22769;
  opacity: 0.5;
}
#categories .category-result[data-category="safety"] h3:before,
#average .category-result[data-category="safety"] h3:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067.12%2046.88%22%3E%3Cpath%20style%3D%22fill%3A%23ca221d%3B%22%20d%3D%22M274.32%2C453.56H237.57a15.18%2C15.18%2C0%2C0%2C0-15.18%2C15.18v31.7h51.94a15.18%2C15.18%2C0%2C0%2C0%2C15.18-15.18v-31.7Z%22%20transform%3D%22translate(-222.38%20-453.56)%22%2F%3E%3C%2Fsvg%3E%0A");
}
#categories .category-result[data-category="safety"] .category-viz line.you,
#average .category-result[data-category="safety"] .category-viz line.you {
  stroke: #ca221d;
  stroke-width: 4;
}
#categories .category-result[data-category="safety"] .category-viz text.you,
#average .category-result[data-category="safety"] .category-viz text.you {
  fill: #ca221d;
}
#categories .category-result[data-category="safety"] .category-viz line.closest,
#average .category-result[data-category="safety"] .category-viz line.closest {
  stroke: #ca221d;
  opacity: 0.5;
}
#categories .category-result[data-category="safety"] .category-viz text.closest,
#average .category-result[data-category="safety"] .category-viz text.closest {
  fill: #ca221d;
  opacity: 0.5;
}
#categories .category-result > h3:before,
#average .category-result > h3:before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
